extends templates/layout

block content
  .jumbotron.container(style="margin-top: 20px")
    h2.text-center Biz Kimiz?
  .container
    .row
      .col-sm-7
        h2.h3 Tarihçemiz
        p Raami Bilgi Teknolojileri A.Ş. olarak 2019 yılında kurulmuş bilgi teknolojileri sektöründe faaliyet gösteren, kurumlara değer yaratmak için sektörde yerini almış bir bilişim şirketiyiz. Yüksek teknolojik kalite ve zamanında çözüm prensibiyle hareket ederek, müşterilerimizin verim ve rekabet gücünü arttırmak başlıca amacımız.
        p Bu amaç doğrultusunda, proje ve kalite yönetimi konusunda en doğru sistem ve bileşenlerle çalışmaktayız.
        p Kuruluşumuzdan bu yana, lojistik ve bilişim sektöründe yaşanan hızlı değişim ve gelişmeleri bir bütün olarak görüp, büyük bir ihtiyaç haline gelen yeni nesil yazılımımız RAAMLOG’u hayata geçirerek, lider firmaların tüm lojistik süreçleri yönetiminde stratejik iş ortağı olmayı başardık ve ihtiyaçlara çözümler sunarken, iş ortaklarımızın bilgi teknolojileri yatırım ve işletme maliyetlerinin azaltılmasında ve maksimum verimin sağlanmasında büyük bir rol oynadık.
        
        h2.h3 Değerlerimiz
        p Başarılarımızın sürekliliğinde bize yol gösteren, Raami Software tüm çalışanları ile bir aile olarak en iyi tanımlayan ve temsil eden değerlerimiz; güvenilirlik, ekip çalışması, yenilikçilik, değer katma, sorumluluk, verimlilik.

      .col-sm-5
        h2.h3 Kurumsal
        .container
          h5 - Vizyonumuz
          p Verdiğimiz tüm hizmetlerde, çözüm ortaklarımızın koşulsuz memnuniyetini sağlamak ve sektöründe lider bir şirket olmaktır.
          
          h5 - Misyonumuz
          p Sürekli gelişen ve fark yaratan ürünlerimiz ile müşterilerimizin verimlilik ve karlılığını arttırmasını sağlayan hizmetler sunmaktır.

          h5 - Hedefimiz
          p Bilişim sektöründe en kaliteli hizmeti sunmak ve dünya çapında faaliyet gösteren yüksek nitelikli bir firma olmaktır.