extends templates/layout

block content
  .container
    if session.is_admin
      .container(style="margin-top: 30px")
        .row
          .col-md-3.col-sm-4.col-xs-12
            .card
              h4.card-header Ana Menu
              .list-group.list-group-flush
                a(id="menu_haber_ekle").list-group-item.h6 Haber Ekle
                a(id="menu_contacts_message").list-group-item.h6 Mesajları Göster
          .col-md-9.col-sm-8.col-xs-12(id="haber_ekle_form" style="display:none")
            h2 Haber Ekle

            //- Haber Ekleme Form
            form(method='POST' action='/event/add' encType="multipart/form-data")
              div.form-group
                label(for='title') Başlık:
                input#title.form-control(type='text', placeholder='Başlık' name='title')
              div.form-group
                label(for='content') İçerik:
                textarea#content.form-control(placeholder='İçerik' name='content' rows=10)
              div.form-group
                label(for='image') Resim:
                br
                input#image(type='file' name='image')
              button.btn.btn-primary(type='submit') Oluştur
          .col-md-9.col-sm-8.col-xs-12(id="contacts" style="display:none")
            h2 Mesajlar
            - for (var i = 0; i < contacts.length; i++){
              .card(style="margin-bottom: 10px")
                .card-header
                  p(style="margin-bottom: 0") #{contacts[i].name} #{contacts[i].surname}
                .card-body
                  h6.card-title #{contacts[i].mail}
                  p.card-text #{contacts[i].message}
                  - var mail = contacts[i].mail
                  - var id = contacts[i].id
                  a(href="mailto:"+mail).btn.btn-primary Cevapla
                  a(onclick='delete_contacts('+'"contacts_delete_'+id+'")' id="contacts_delete_"+id style="margin-left: 10px").btn.btn-secondary Sil
            - }

    else
      h1= title
      p Sayfayı görmeye yetkiniz yok.