extends templates/layout

block content
  .container(style="margin-top: 30px")
    h2 İletişim
    if status == "good"
      if message
        h6.alert.alert-success #{message}
    if status == "bad"
      if message
        h6.alert.alert-danger #{message}
    .row
      .col-lg-9.col-md-9.col-sm-12
        p
          strong Aklınıza takılan bir soru mu oldu? Sormaktan çekinmeyin. Müşteri Hizmetlerimiz 7/24 çalışıp sizlerin sorunlarını çözmek burada. Geri dönüş sağlayabilmemiz için mail adresinizi girmeniz rica olunur.
        form(method='POST' action='/contact')
          .row
            .col-6
              .form-group
                label(for='name') İsim:
                input#name.form-control(type='text', placeholder='İsim' name='name')
            .col-6
              .form-group
                label(for='surname') Soyisim:
                input#surname.form-control(type='text', placeholder='Soyisim' name='surname')
          .form-group
            label(for='email') Mail Adresi:
            input#email.form-control(type='text', placeholder='ornek@xyz.com' name='email')
          .form-group
            label(for='message') Mesaj:
            textarea#message.form-control(name='message' rows=8)
          button.btn.btn-primary(type='submit') Gönder
      .col-lg-3.col-md-3.col-sm-12.text-center
        br
        br
        h3 Bilgiler
        br
        i.fa.fa-map-marker-alt
        p İstanbul, Türkiye
        i.fa.fa-phone
        br
        a(href="tel:+905555555555") +90 555 555 5555
        br
        br
        i.fa.fa-envelope
        br
        a(href="mailto:info@raami.com") info@raami.com