extends templates/layout

block content
  .container
    #carousSlide.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/back2.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/images/back1.jpg', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/images/back3.jpg', alt='Third slide')

    //- Events
    h2.text-center(style="margin: 30px") Haberler
    .container
      .row
        - for (var i = 0; i < news.length; i++){
          .col-lg-4.col-md-6.col-sm-12
            .card
              - var image_url = news[i].image_url;
              img.card-img-top(src="/images/events/"+image_url)
              .card-body
                h5.card-title #{news[i].title}
                p.card-text #{news[i].content}
                a.btn.btn-success(href="#") Devamını Gör
        - }
    