extends templates/layout

block content
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.col-lg-5
        h1.display-4.m-b-2 Giriş
        if status == "good"
          if message
            h6.alert.alert-success #{message}
        if status == "bad"
          if message
            h6.alert.alert-danger #{message}
        form(method='POST' action='/login')
          div.form-group
            label(for='username') Kullanıcı Adı
            input.form-control(type='text' id='username' placeholder='Kullanıcı Adı' name='username' autofocus)
          div.form-group
            label(for='password') Parola
            input.form-control(type='password' id='password' placeholder='Parola' name='password')
          button.btn.btn-primary(type='submit') Giriş Yap