extends templates/layout

block content
  .container
    h1.text-center(style="margin: 20px") Referanslarımız
    .row
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") 3M
          img.card-img-top(src="../images/references/3M-referans-new.jpg")
          .card-footer.text-center Marketler Zinciri
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Ball Boverage
          img.card-img-top(src="../images/references/ball-beverage.jpg")
          .card-footer.text-center Spor
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Base Metal
          img.card-img-top(src="../images/references/base-metal.jpg")
          .card-footer.text-center Üretim
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") BSH
          img.card-img-top(src="../images/references/bsh.jpg")
          .card-footer.text-center Programming
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Duracell
          img.card-img-top(src="../images/references/duracell.jpg")
          .card-footer.text-center Enerji
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Eaton
          img.card-img-top(src="../images/references/eaton.jpg")
          .card-footer.text-center Nöron Bilimi
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") EvYap
          img.card-img-top(src="../images/references/evyap.jpg")
          .card-footer.text-center Konut
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Grohe
          img.card-img-top(src="../images/references/grohe-logo.jpg")
          .card-footer.text-center Rehber ve Danışmanlık
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Hoover
          img.card-img-top(src="../images/references/hoover-ref.jpg")
          .card-footer.text-center Güvenlik
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Hormann
          img.card-img-top(src="../images/references/hormann-ref.png")
          .card-footer.text-center Hurda Sanayi
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Karcher
          img.card-img-top(src="../images/references/karcher.jpg")
          .card-footer.text-center Mutfak Ekipmanları
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Kone
          img.card-img-top(src="../images/references/kone.jpg")
          .card-footer.text-center Dil Bilimi
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Mann Hummet
          img.card-img-top(src="../images/references/mann-hummet.jpg")
          .card-footer.text-center Ayakkabı
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Miele
          img.card-img-top(src="../images/references/miele.jpg")
          .card-footer.text-center Anime
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") MTU
          img.card-img-top(src="../images/references/mtu.jpg")
          .card-footer.text-center Manga Çeviri
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Nexans
          img.card-img-top(src="../images/references/nexans.jpg")
          .card-footer.text-center Seslendirme
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Sadat Tarım
          img.card-img-top(src="../images/references/sadal-tarim.jpg")
          .card-footer.text-center Tarım
      .col-lg-3.col-md-4.col-sm-4.col-xs-6(style="padding-bottom: 10px")
        .card
          .card-header.text-center
            h4(style="margin: 0") Kone
          img.card-img-top(src="../images/references/kone.jpg")
          .card-footer.text-center Dil Bilimi