doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="E-Marketing")
    meta(name="keywords" content="Raami,Online Shop")
    meta(name="author" content="mnykmct")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    include navbar.pug

  body
    block content

    include footer.pug

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="/javascripts/js.js")