nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Raami
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Ana Sayfa
      li.nav-item
        a.nav-link(href='/about') Hakkımızda
      li.nav-item
        a.nav-link(href='/reference') Referans
      li.nav-item
        a.nav-link(href='/contact') İletişim

    ul.navbar-nav.float-right
      unless session.authorised
        li.nav-item
          a.nav-link(href='/login') Giriş

      if session.is_admin
        li.nav-item
          a.nav-link(href='/admin') Admin
      
      if session.authorised
        li.nav-item
          a.nav-link(href='/logout') Çıkış