body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
}

.footer {
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 0px;
  position: absolute;
  bottom:0;
  width:100%;
}